.btn {
  display: inline-block;
  margin: 3rem auto;
  background-color: #e6e7e8;
  border: none;
  padding: 1.2rem 3rem;
  border-radius: 6px;
  transition: all 0.3s;
  cursor: pointer; }
  .btn:hover {
    background-color: #135169; }

.chart {
  margin: 2rem auto; }

.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: none; }
  .loader--animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: scale 1.1s infinite;
    background-image: linear-gradient(to right, #81c4ff 0%, #000000 28%, #e7222e 84%); }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e89ad;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  color: #fefefe; }
  .popup--close {
    float: right;
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer; }
  .popup--msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1.5rem; }

@keyframes scale {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

@keyframes slide {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100vw;
    height: 100vh; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7; }

.header--secondary {
  color: #e7222e;
  font-size: 2.4rem;
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
  color: #58595b; }

.d-none {
  display: none; }

.header {
  max-width: 100%;
  height: 30vh;
  text-align: center;
  background-color: #fefefe; }
  .header--logo {
    height: 100%;
    width: auto;
    padding: 2.8rem 0; }
  .header--menu {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 3; }

.form {
  background-color: #2e89ad;
  color: #fefefe;
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .form--label {
    display: block;
    padding: 1.4rem 0; }
  .form--input, .form--input:active, .form--input:target, .form__select,
  .form__select option {
    background-color: #135169;
    color: #fefefe;
    display: block;
    width: 65%;
    height: 3.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
    border: 1px solid #fefefe;
    outline: 1px solid #58595b; }

.results {
  font-size: 2rem; }
