.btn {
  display: inline-block;
  margin: 3rem auto;
  background-color: #e6e7e8;
  border: none;
  outline: #58595b;
  padding: 1.2rem 3rem;
  transition: all 0.4s;
  border-radius: 8px;
  cursor: pointer; }
  @media (min-width: 1000px) {
    .btn {
      padding: 1.5rem 3.5rem; } }
  .btn:focus, .btn:active {
    border: none;
    outline: #58595b; }
  .btn:hover {
    background-color: #135169; }

.chart {
  margin: 0 auto; }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e89ad;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  color: #fefefe; }
  .popup--close {
    float: right;
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer; }
  .popup--msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1.5rem; }

@keyframes scale {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

@keyframes scaleOut {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(0); } }

@keyframes slide {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100vw;
    height: 100vh; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

/* Change the white background on auto complete  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #135169 inset !important;
  color: #fefefe; }

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #fefefe !important; }

.header--secondary {
  font-size: 2.4rem;
  font-weight: 400;
  color: #58595b; }

.d-none {
  display: none; }

.header {
  max-width: 100%;
  height: 30vh;
  text-align: center;
  background-color: #fefefe; }
  .header--logo {
    height: 100%;
    width: auto;
    padding: 2.8rem 0; }
  .header--menu {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 3; }

.form {
  background-color: #2e89ad;
  color: #fefefe;
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .form--label {
    display: block;
    padding: 1.4rem 0; }
  .form--input, .form--input:active, .form--input:target, .form__select,
  .form__select option {
    background-color: #135169;
    color: #fefefe;
    display: block;
    width: 65%;
    padding: 1.2rem 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fefefe;
    outline: 1px solid transparent;
    border-radius: 8px; }
    @media (min-width: 1000px) {
      .form--input, .form--input:active, .form--input:target, .form__select,
      .form__select option {
        width: 40%;
        padding: 1.5rem 0; } }
  .form [name="bmw-models-driven"]:not(:last-child) {
    margin-bottom: 1.4rem; }

.results {
  font-size: 1.8rem;
  font-weight: 400;
  color: #58595b;
  text-align: center;
  margin: 1rem auto;
  background-color: #e6e7e8;
  padding: 2rem 0; }
  @media (min-width: 1000px) {
    .results {
      margin: 2.5rem auto;
      font-size: 2rem;
      padding: 2.5rem 0; } }
  @media (min-width: 1300px) {
    .results {
      margin: 4.5rem auto;
      font-size: 2.2rem;
      font-weight: 700;
      padding: 3rem 0; } }
  .results__input {
    display: none; }
  .results__input:checked ~ .results__popup {
    transform: scale(1);
    opacity: 1; }
  .results__input--label {
    width: 3.5rem;
    font-size: 1.8rem;
    background: url("../logos/statistics.svg") no-repeat center;
    position: fixed;
    top: 2rem;
    left: 1rem;
    z-index: 10;
    cursor: pointer; }
  .results__popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: scale(0);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s; }
  .results:last-child {
    margin: 1rem auto 0; }
    @media (min-width: 1000px) {
      .results:last-child {
        margin: 2.5rem auto 0; } }
    @media (min-width: 1300px) {
      .results:last-child {
        margin: 4.5rem auto 0; } }
  .results--titles {
    padding: 0 2rem;
    font-weight: 400; }
