$color-gray: #58595b;
$color-white: #fefefe;
$color-black: #000000;
$color-background: #2e89ad;
$color-primary: #135169;
$color-secondary: #e6e7e8;
$badge-color-primary: #81c4ff;

$badge-color-tertiary: #e7222e;
