.btn {
  display: inline-block;
  margin: 3rem auto;
  background-color: $color-secondary;
  border: none;
  outline: $color-gray;
  padding: 1.2rem 3rem;
  transition: all 0.4s;
  border-radius: 8px;
  cursor: pointer;
  @include respond-tab {
    padding: 1.5rem 3.5rem;
  }
  &:focus,
  &:active {
    border: none;
    outline: $color-gray;
  }

  &:hover {
    background-color: $color-primary;
  }
}
