@keyframes scale {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes slide {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100vw;
    height: 100vh;
  }
}
